# Object files
*.o
*.ko
*.obj
*.elf
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

doc/*
*.html
*.pc
*.swp

.config
.version
conf_script.sh
config.asm
config.fate
config.h
config.mak
ffmpeg
ffmpeg_g
ffplay
ffplay_g
ffprobe
ffprobe_g
ffserver
ffserver_g
